.contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }

  .contact h1 {
    font-size: 28px;
    color: rgb(49, 49, 49);
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    height: auto; 
  }
  
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 6px;
    font-size: 14px;
    height: 150px; 
    resize: vertical; 
  }
  
  button {
    background-color: #00346e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 350px;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  

  @media (max-width: 768px) {
    .contact {
      padding: 10px;
    }
  
    .contact h1 {
      font-size: 24px;
    }
  
    input[type="email"], textarea, button {
      width: 100%;
    }
  }